{
  "extends": "airbnb",
  "installedESLint": true,
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "no-use-before-define": [0],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "globals": {
    "require": false
  }
}
