{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "es6": true,
    "jest": true
  },
  "plugins": [
    "react",
    "jsx-a11y"
  ],
  "rules": {
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }],
    "import/no-extraneous-dependencies": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
