{
  "extends": "airbnb",
  "installedESLint": true,
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "es6": true
  },
  "plugins": [
    "react",
    "jsx-a11y"
  ],
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
